<meta charset="utf-8">

<center>
<font color='gray' size='8' face='휴먼편지체'>
<hr width='600' size='2' color='gray' noshade>
<h5>GuestBook Content with Spring</h5>
<font color='gray' size='3' face='휴먼편지체'>
<a href='writeForm'>글쓰기</a>
</font>
<hr width='600' size='2' color='gray' noshade>
</font>
<TABLE border='2' width='600' align='center' noshade>
<tr>
<td width='20%' align='center'>No</td>
<td>5</td>
</tr>
<tr>
<td width='20%' align='center'>Name</td>
<td>가가</td>
</tr>
<tr>
<td align='center'>E-mail</td>
<td>나나</td>
</tr>
<tr>
<td align='center'>Subject</td>
<td>다다 </td>
</tr>
<tr>
<td align='center'>Contents</td>
<td>라라</td>
</tr>
</table>
<hr width='600' size='2' color='gray' noshade>
<font color='gray' size='3' face='휴먼편지체'>
<a href='content?idx=5&amp;kind=edit'>수정</a>
 &nbsp;&nbsp;| 
<a href='delete?idx=5'>삭제</a>
 &nbsp;&nbsp;| 
<a href='list'>목록</a>
</font>
<hr width='600' size='2' color='gray' noshade>
</center>
