<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<center>
	<h1>
		Address List 
	</h1>
	<p align='center'><a href="./input.do">주소등록</a></p>
	<table border='1' cellpadding="7" cellspacing="2" width="50%">
	    <tr>
		    <th>번호</th>
			<th>이름</th>
			<th>주소</th>
			<th>날짜</th>
			<th>삭제</th>
		</tr>
		<tr>
		    <td align='center'>2</td>
			<td>이순신</td>
			<td>대전시 동구</td>
			<td>2017-05-27</td>
			<td align='center'><a href=''>삭제</a></td>
		</tr>
	</table>
</center>
</body>
</html>